# สำหรับใช้งานในเครื่องเดียว (Development)
NEXT_PUBLIC_API_BASE_URL=http://localhost:3006
NEXT_PUBLIC_AUTH_LOGIN_ENDPOINT=/auth/login

# สำหรับใช้งานในวง LAN
# เปลี่ยน 192.168.1.100 เป็น IP Address ของเครื่อง Server
# NEXT_PUBLIC_API_BASE_URL=http://192.168.1.100:3006
# NEXT_PUBLIC_AUTH_LOGIN_ENDPOINT=/auth/login
